# Copy your Vercel database URL here (from Vercel Storage → booking → .env.local tab)
booking_POSTGRES_URL="postgresql://default:YOUR_PASSWORD@ep-xxxxx.postgres.vercel-storage.com:5432/verceldb?sslmode=require"

# NextAuth (Local)
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="ssWVHhMPa011/cGsBSthC5Tc7xUDgbD7+R/KA5FNpAU="

# Email (Required)
RESEND_API_KEY="re_gCLL9D72_67wMJBQnqBCCDcUUAKzhe2KH"

# Image Upload (Optional)
UPLOADTHING_SECRET='sk_live_f1fef03cc184026672b05a3f0e7f4993fddcc094f688eca9d33b56c573975e14'
UPLOADTHING_APP_ID='rjsdptqywa'

# Google OAuth (Optional)
GOOGLE_CLIENT_ID="393525674565-enn26ef0mlnrjqi38r14k5gbte8qbns3.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
