# Copy your Vercel database URL here (from Vercel Storage → booking → .env.local tab)
booking_POSTGRES_URL="postgresql://default:YOUR_PASSWORD@ep-xxxxx.postgres.vercel-storage.com:5432/verceldb?sslmode=require"

# NextAuth (Local)
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="ssWVHhMPa011/cGsBSthC5Tc7xUDgbD7+R/KA5FNpAU="

# Email (Required)
RESEND_API_KEY=""

# Image Upload (Optional)
UPLOADTHING_SECRET=''
UPLOADTHING_APP_ID=''

# Google OAuth (Optional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
